#navba{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}
.mellon{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.kayıt{
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#navba{
    height: 200px;
}
